#slider {
  .owl-carousel {
    .item {
      .owl-text-overlay {
        position: absolute;
        padding-top: 8vw;
        padding-left: 11vw;
        h2 {
          font-family: "Playfair Display", serif;
          font-size: 60px;
          font-weight: 400;
          span {
            color: red;
          }
        }
        p {
          font-family: "Lora", serif;
          font-weight: 400;
          font-size: 17px;
        }
        img {
          width: 40%;
        }
      }
    }
    .both {
      font-size: 26px;
      font-weight: 300;
      position: relative;
      bottom: 22vw;
      color: #afafaf;
      background-color: none;
    }
    .both:hover {
      background-color: none;
    }
    .left {
      right: 46vw;
    }
    .right {
      left: 46vw;
    }
  }
}
@media screen and(max-width:1310px) {
    #slider {
      .owl-carousel {
        .item {
          .owl-text-overlay {
            .text-slider {
              font-size: 40px;
            }
            .text-slider_p {
              font-size: 17px;
              width: 45%;
            }
            .slider_img {
              width: 15%;
            }
          }
        }
      }
    }
  }
  @media screen and(max-width:900px) {
    #slider {
      .owl-carousel {
        .item {
          .owl-text-overlay {
            .text-slider {
              font-size: 30px;
            }
            .text-slider_p {
              font-size: 14px;
              width: 45%;
            }
            .slider_img {
              width: 15%;
            }
          }
        }
      }
    }
  }
  @media screen and(max-width:700px) {
    #slider {
      .owl-carousel {
        .item {
          .owl-text-overlay {
            .text-slider {
              font-size: 20px;
            }
            .text-slider_p {
              font-size: 80%;
              width: 50%;
            }
            .slider_img {
              width: 15%;
            }
          }
        }
      }
    }
  }
  @media screen and(max-width:500px) {
    #slider {
      .owl-carousel {
        .item {
          .owl-text-overlay {
            .text-slider {
              font-size: 10px;
            }
            .text-slider_p {
              font-size: 60%;
              width: 90%;
            }
            .slider_img {
              width: 15%;
            }
          }
        }
      }
    }
  }
